{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="text-align: center;">
    <h1>Bem-vindo, {{ user.username }}!</h1>
    <h2 style="margin-bottom: 40px; color: #ccc;">Escolha uma Galáxia</h2>

    <div style="display: flex; gap: 30px; justify-content: center; flex-wrap: wrap;">
        
        {% for galaxia in galaxias %}
        <a href="#" class="glass-card" style="text-decoration: none; color: white; transition: 0.3s; width: 200px;">
            <div style="font-size: 60px; margin-bottom: 10px;">
                {% if galaxia.icone %}
                    <img src="{{ galaxia.icone.url }}" width="80">
                {% else %}
                    🌀 {% endif %}
            </div>
            
            <h3>{{ galaxia.nome }}</h3>
            <p>{{ galaxia.descricao|truncatechars:50 }}</p>
        </a>
        {% empty %}
            <p>Nenhuma galáxia encontrada. Cadastre no Admin!</p>
        {% endfor %}

    </div>
</div>
{% endblock %}